apiVersion: apps/v1
kind: Deployment
metadata:
  name: espectaculos-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: espectaculos
  template:
    metadata:
      labels:
        app: espectaculos
    spec:
      containers:
      - name: espectaculos
        image: 466060356317.dkr.ecr.us-east-1.amazonaws.com/espectaculos-web:latest
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_URLS
          value: "http://+:8080"
        - name: ConnectionStrings__Default
          value: "Host=postgres-db.cb6u64euqqve.us-east-1.rds.amazonaws.com;Port=5432;Database=espectaculosdb;Username=postgres_user;Password=postgres_user"
        - name: REDIS_CONNECTION_STRING
          value: "redis-cluster.qatxfp.0001.use1.cache.amazonaws.com:6379"
        - name: AWS__Region
          value: "us-east-1"
        - name: AWS__Cognito__UserPoolId
          value: "us-east-1_yeXrzBRpQ"
        - name: AWS__Cognito__ClientId
          value: "u8j0u22ms9kr3osmg86jef1t"
        - name: AWS__Cognito__Region
          value: "us-east-1"